.contenedor-super {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    background-image: url("../Img/grupo\ hombre.jpg") ;
    background-size: 85%;
    
}
.contenedor-super2{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    background-image: url("../Img/accesorios\ cate.jpg") ;
    background-size: 300px;
}
.contenedor-super3{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    background-image: url("../Img/grupo\ mujeres.jpg") ;
    background-size: 300px;
}


.contenedor-padre{
    display: flex;
    height: 500px;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
}

.elemento-hijo {
    width: calc(20% - 20px);
    margin-bottom: 20px;
    border: 1px solid #9f6540;
    padding: 20px;
    background-color: #673412;
}

@media screen and (max-width: 768px) {
    .elemento-hijo {
        flex-direction: column; /* Cambia la dirección del flexbox a columna */
    }

    .elemento-hijo {
        width: 100%; /* Ancho completo en dispositivos pequeños */
    }
}

.categoria {

    padding: 15px;
    margin: 15px;
}
.Titulo {
    font-family: oswald ;
    font-size: 45px;
    font-weight: normal;
    text-align: center;
    color:brown
}

body{
    font-family: 'Roboto', sans-serif;
    background: #f6f6f6;
    margin: 0px;
    padding: 0px;
}
.Subtitulo {
    font-family: kanit ;
    font-size: 25px;
    font-weight: normal;
    text-align: left;
    color:rgb(106, 58, 58);
}

header {
    background-color: #673412;
    color: #fff;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo img {
    max-width: 150px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

footer {
    background-color: #673412;
    color: #fff;
    text-align: center;
    padding: 10px;
    margin: 0px;
}
    


